body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
}
.h-img {
    width: 24px;
    height: 24px;
    margin: 5px 0 0 0;
    margin-left: calc(1200px - 80px);
    position: relative;
}
.back-1 {
    margin-top: 20px;
    background-image: linear-gradient(rgba(10, 10, 10, .3)), url(../image/back-1.jpg);
    background-size: cover;
    height: calc(100vh - 80px);
}
.b-1-text {
    border: 5px solid orange;
    color: #fff;
    padding: 20px;
}
.b-1-text h1 {
    font-size: 60px;
}